books.dtd.txt

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT books (book)*>
<!ELEMENT book (Title, Author, Genre, Copyright, Edition, Isbn, Publisher, Price)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Author (#PCDATA)>
<!ELEMENT Genre (#PCDATA)>
<!ELEMENT Copyright (#PCDATA)>
<!ELEMENT Edition (#PCDATA)>
<!ELEMENT Isbn (#PCDATA)>
<!ELEMENT Publisher (#PCDATA)>
<!ELEMENT Price (#PCDATA)> 